.SignUpBox {
  padding: 230px;
}

.mainBox {
  margin: 0 auto;
  font-family: "Didact Gothic", sans-serif;
}
.existingSignInMain {
  font-family: "Didact Gothic", sans-serif;
}
/* .createAccount {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
} */
